<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>untitled</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
  <script>
    
    function changeValueCheckbox(element){
     if(element.checked){
      element.value='on';
    }else{
      element.value='off';
    }
  }
  </script>
</head>
<body>

  <h1>Hello Relay {{ relay_num }}</h1>
  
  <form action="/relay/{{relay_num}}/state" name="relay_form" method="post">
    <input type="checkbox" name="relayState" value="off" onclick="changeValueCheckbox(this)"> Relay {{ relay_num }} State<br>
    <input type="submit" value="Submit">
  </form>

</body>
</html>
